---
layout: default
title: Label
---

<main class="main list-tag">

  <a class="box" href="{{site.baseurl}}/blog/">
	<h1 class="page-heading">x</h1>
	<span>Blog</span>
  </a>
  
  {% include navigation.html %}
  
    <div class="tag-list">
        <ul>
            {% assign tags = site.tags | sort %}
            {% for tag in tags %}
              <li>    
                <a href="/blog/{{ tag | first | slugify }}/">
                  {{ tag | first }} <span>{{ tag | last | size }}</span>
                </a>
              </li>
            {% endfor %}
        </ul>
    </div>

</main>